<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="UserVoiceEntity" >
	<resultMap id="UserVoiceEntityMap" type="com.lvdao.entity.UserVoiceEntity" >
	    <result column="ID" property="id" jdbcType="VARCHAR" />
	    <result column="USER_ID" property="userId" jdbcType="VARCHAR" />
	   	<result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
	   	<result column="VOICE_ID" property="voiceId" jdbcType="VARCHAR" />
	   	<result column="VOICE_URL" property="voiceUrl" jdbcType="VARCHAR" />
	    <result column="ACTIVE" property="active" jdbcType="TINYINT" />
	    <result column="CREATE_USER_ID" property="createUserId" jdbcType="VARCHAR" />
	    <result column="CREATE_USER_NAME" property="createUserName" jdbcType="VARCHAR" />
	    <result column="CREATE_TIME" property="createTime" jdbcType="TIMESTAMP" />
	    <result column="UPDATE_USER_ID" property="updateUserId" jdbcType="VARCHAR" />
	    <result column="UPDATE_USER_NAME" property="updateUserName" jdbcType="VARCHAR" />
	    <result column="UPDATE_TIME" property="updateTime" jdbcType="TIMESTAMP" />
	    <result column="VERSION" property="version" jdbcType="NUMERIC" />
  	</resultMap>
  
 	<sql id="query_UserVoice" >
 		UV.ID,
 		UV.USER_ID,
 		UV.USER_NAME,
 		UV.VOICE_ID,
 		UV.VOICE_URL,
    	UV.ACTIVE,
    	UV.CREATE_USER_ID,
    	UV.CREATE_USER_NAME,
    	UV.CREATE_TIME,
    	UV.UPDATE_USER_ID,
    	UV.UPDATE_USER_NAME,
    	UV.UPDATE_TIME,
    	UV.VERSION
  	</sql>
  
  	<insert id="insert" parameterType="com.lvdao.entity.UserVoiceEntity">
	 	INSERT INTO t_user_voice (
	    	ID,
	    	USER_ID,
 			USER_NAME,
 			VOICE_ID,
 			VOICE_URL,
	    	ACTIVE,
	    	CREATE_USER_ID,
	    	CREATE_USER_NAME,
	    	CREATE_TIME,
	    	VERSION
		) VALUES(	
		#{id, jdbcType=VARCHAR},
		#{userId, jdbcType=VARCHAR},
		#{userName, jdbcType=VARCHAR},
		#{voiceId, jdbcType=VARCHAR},
		#{voiceUrl, jdbcType=VARCHAR},
		#{active, jdbcType=TINYINT},	
		#{createUserId, jdbcType=VARCHAR},
		#{createUserName, jdbcType=VARCHAR},
		#{createTime, jdbcType=TIMESTAMP},
		#{version, jdbcType=NUMERIC}
	)
	</insert>
  	
  	<update id="update" 
  		parameterType="com.lvdao.entity.UserVoiceEntity" >
    	UPDATE t_user_voice UV SET
      	<if test=" userId != null and userId  != ''" >
        	UV.USER_ID = #{userId , jdbcType=VARCHAR},
      	</if>
      	<if test="userName != null and userName  != ''" >
        	UV.USER_NAME = #{userName, jdbcType=VARCHAR},
      	</if>
      	<if test=" voiceId != null and voiceId != ''" >
        	UV.VOICE_ID = #{voiceId, jdbcType=VARCHAR},
      	</if>
      	<if test=" voiceUrl != null and voiceUrl != ''" >
        	UV.VOICE_URL = #{voiceUrl, jdbcType=VARCHAR},
      	</if>
      	<if test="active != null and active != ''" >
        	UV.ACTIVE = #{active, jdbcType=TINYINT},
      	</if>
      	<if test="createUserId != null and createUserId != ''" >
        	UV.CREATE_USER_ID = #{createUserId, jdbcType=VARCHAR},
      	</if>
      	<if test="createUserName != null and createUserName != ''" >
        	UV.CREATE_USER_NAME = #{createUserName, jdbcType=VARCHAR},
      	</if>
      	<if test="createTime != null" >
        	UV.CREATE_TIME = #{createTime, jdbcType=TIMESTAMP},
      	</if>
      	<if test="updateUserId != null and updateUserId != ''" >
        	UV.UPDATE_USER_ID = #{updateUserId, jdbcType=VARCHAR},
      	</if>
      	<if test="updateUserName != null and updateUserName != ''" >
        	UV.UPDATE_USER_NAME = #{updateUserName, jdbcType=VARCHAR},
      	</if>
      	<if test="updateTime != null" >
        	UV.UPDATE_TIME = #{updateTime, jdbcType=TIMESTAMP},
      	</if>
		UV.VERSION = UV.VERSION + 1
		<where>
	    	UV.ACTIVE = '1'
	    	AND
			UV.ID = #{id, jdbcType=VARCHAR}
		</where>
  	</update>
  	
  	<update id="delete" parameterType="map" >
	    UPDATE t_user_voice UV SET
	    UV.ACTIVE = '0'
	  	<where>
	    	UV.ACTIVE = '1'
			<if test="id != null and id != ''" >	
				AND UV.ID = #{id, jdbcType=VARCHAR}
			</if>	
		</where>
  	</update>
  
  	<select id="queryList" resultMap="UserVoiceEntityMap" parameterType="java.util.Map" >
	    SELECT 
	    <include refid="query_UserVoice" />
	    FROM t_user_voice UV
	    <where>
	    	UV.ACTIVE = '1'
	    	<if test=" userId != null and userId  != ''" >
	        	AND UV.USER_ID = #{userId , jdbcType=VARCHAR}
	      	</if>
	      	<if test="userName != null and userName  != ''" >
	        	AND UV.USER_NAME = #{userName, jdbcType=VARCHAR}
	      	</if>
	      	<if test=" voiceId != null and voiceId != ''" >
	        	AND UV.VOICE_ID = #{voiceId, jdbcType=VARCHAR}
	      	</if>
	      	<if test=" voiceUrl != null and voiceUrl != ''" >
	        	AND UV.VOICE_URL = #{voiceUrl, jdbcType=VARCHAR}
	      	</if>
		</where>
 	</select>
  	
    <select id="count" resultType="java.lang.Integer" parameterType="java.util.Map">
   		SELECT COUNT(*) FROM t_user_voice UV
	    <where>
	    	UV.ACTIVE = '1'
			<if test=" userId != null and userId  != ''" >
	        	AND UV.USER_ID = #{userId , jdbcType=VARCHAR}
	      	</if>
	      	<if test="userName != null and userName  != ''" >
	        	AND UV.USER_NAME = #{userName, jdbcType=VARCHAR}
	      	</if>
	      	<if test=" voiceId != null and voiceId != ''" >
	        	AND UV.VOICE_ID = #{voiceId, jdbcType=VARCHAR}
	      	</if>
	      	<if test=" voiceUrl != null and voiceUrl != ''" >
	        	AND UV.VOICE_URL = #{voiceUrl, jdbcType=VARCHAR}
	      	</if>
		</where>
  	</select>
  	
  	<select id="queryPage" resultMap="UserVoiceEntityMap" parameterType="java.util.Map">
		SELECT
		<include refid="query_UserVoice"/>
		FROM t_user_voice UV
		<where>
			UV.ACTIVE = '1'
			<if test=" userId != null and userId  != ''" >
	        	AND UV.USER_ID = #{userId , jdbcType=VARCHAR}
	      	</if>
	      	<if test="userName != null and userName  != ''" >
	        	AND UV.USER_NAME = #{userName, jdbcType=VARCHAR}
	      	</if>
	      	<if test=" voiceId != null and voiceId != ''" >
	        	AND UV.VOICE_ID = #{voiceId, jdbcType=VARCHAR}
	      	</if>
	      	<if test=" voiceUrl != null and voiceUrl != ''" >
	        	AND UV.VOICE_URL = #{voiceUrl, jdbcType=VARCHAR}
	      	</if>
			LIMIT #{startIndex, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER}
		</where>
	</select>
	
	<select id="queryAll" resultMap="UserVoiceEntityMap"  parameterType="java.util.Map">
		SELECT 
		<include refid="query_UserVoice"/>		
		FROM T_USER_VOICE UV
		<where>
			UV.ACTIVE = '1'  
		</where>
	</select>
</mapper>