@charset "utf-8";
/* 禁用iPhone中Safari的字号自动调整 */
html { -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
/* 去除iPhone中默认的input样式 */
input[type="submit"],input[type="reset"],input[type="button"],input{ -webkit-appearance:none; resize: none; }
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0); }
/* 设置HTML5元素为块 */
article, aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section { display: block; }
/* 图片自适应 */
img { max-width: 100%; height: auto; width:auto\9; /* ie8 */
-ms-interpolation-mode:bicubic; /*为了照顾ie图片缩放失真*/; }
/* 初始化 */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ margin:0; padding:0; border:none; }
body{ font-family:Microsoft YaHei,Tahoma,Arial,sans-serif; color:#333; font-size:16px; }
em,i{ font-style:normal; }
strong{ font-weight: normal; }
a{ text-decoration:none; color:#fff; font-family: Microsoft YaHei,Tahoma,Arial,sans-serif; }
a:hover{ color:#fff; text-decoration:none; }
ul,ol{ list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:100%; font-family: Microsoft YaHei; }
img{ border: none; display:block; width:100%; height:100%; }

input:-ms-input-placeholder,textarea:-ms-input-placeholder { color: #ccc; }
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder { color: #ccc; }


/* 清除浮动 */
.outer:after{ content:"."; height:0; visibility:hidden; display:block; clear:both; }
.outer{ zoom:1; }
body{ height:auto; margin:auto; background:#f6f6f6; position: relative; }
.container{ min-width: 320px; max-width: 750px; height:auto; margin:0 auto; padding-top:50px; }

header{ width:100%; height:50px; background:#fff; padding:0 12px 0 16px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; position: relative; border-bottom:1px solid #E4E4E4; position: fixed; top:0; left:0; z-index: 10; }
header>span{ display:block; font-size:18px; color:#3A3A3A; line-height:50px; text-align:center; }
header>a.header_info{ width:24px; height:19px; position: absolute; right:12px; top:15px; }
header>a.header_info>img{ width:19px; }
header>a.header_info>.layui-badge-dot{ width:5px; height:5px; background:#FFB931; position: absolute; top:2px; right:2px; }
header>a.return_arr{ width:10px; height:18px; position: absolute; left:16px; top:16px; background:url(../images/return_arr.png) no-repeat; background-size: cover; }
header>a.reference{ position: absolute; top:10px; left:15px; background-image: url(../images/reference.png); background-repeat: no-repeat; background-size: 18px 16px; background-position: center top; font-size:10px; color:#3A3A3A; line-height:10px; padding-top:20px; }
header>a.car_info{ position: absolute; top:10px; right:10px; background-image: url(../images/car_info.png); background-repeat: no-repeat; background-size: 18px 18px; background-position: center top; font-size:10px; color:#3A3A3A; line-height:10px; padding-top:20px; }

footer{ width:100%; height:49px; background:#fff; position: fixed; bottom:0; left:0; z-index: 10; }
footer a{ width:33.33%; height:49px; float:left; text-align:center; font-size:12px; }
footer a span{ width:100%; height:24px; display:inline-block; margin-top:8px; }
footer a span b{ display:inline-block; }
footer a span b.index{ width:22px; height:20px; background:url(../images/index.png) no-repeat; background-size: cover; }
footer a span b.my_car{ width:22px; height:19px; background:url(../images/my_car.png) no-repeat; background-size: cover; }
footer a span b.personal{ width:17px; height:20px; background:url(../images/personal.png) no-repeat; background-size: cover; }
footer a i{ font-size:10px; color:#000; }
footer a.selected span b.index{ background:url(../images/index_cur.png) no-repeat; background-size: cover; }
footer a.selected span b.my_car{ background:url(../images/my_car_cur.png) no-repeat; background-size: cover; }
footer a.selected span b.personal{ background:url(../images/personal_cur.png) no-repeat; background-size: cover; }
footer a.selected i{ color:#076842; }

/* 首页 */
.index_cons{ padding-bottom:58px; }
.index_cons .swiper-container-horizontal>.swiper-pagination-bullets{ bottom:5px; }
.index_cons .swiper-pagination-bullet{ width:6px; height:6px; background:#fff; }
.index_cons .swiper-pagination-bullet-active{ background:#C7AC3F; }
.index_cons .investor_driver{ margin-top:9px; }
.index_cons .investor_driver>div{ width:50%; float:left; padding:10% 0 5%; }
.index_cons .investor_driver>div.left_investor{ background:#C7AC3F; }
.index_cons .investor_driver>div.left_investor img{ width:61px; height:66px; display: block; margin:0 auto; }
.index_cons .investor_driver>div.right_driver{ background:#076C45; }
.index_cons .investor_driver>div.right_driver img{ width:59px; height:65px; display: block; margin:0 auto; }
.index_cons .investor_driver>div span{ display: block; font-size:15px; line-height:16px; font-weight: bold; color:#fff; text-align: center; margin-top:19px; }
.index_cons .investor_driver>div p{ font-size:10px; line-height:11px; color:#fff; text-align: center; margin-top:7px; }
.index_cons .car_series{ margin-top:10px; background:#fff; padding:11px 0 11px 13px; }
.index_cons .car_series>.swiper-container .swiper-slide .car_brand{ float:left; }
.index_cons .car_series>.swiper-container .swiper-slide .car_brand span{ font-size: 12px; line-height:12px; margin-top:9px; color:#0E0E0E; display: block; }
.index_cons .car_series>.swiper-container .swiper-slide .car_brand i{ font-size: 10px; line-height:10px; margin-top:4px; color:#808080; display: block; }
.index_cons .car_series>.swiper-container .swiper-slide button{ float:right; width:40px; height:15px; background:transparent; border:1px solid #076C45; font-size:10px; color:#076C45; margin-top:8px; outline: none; border-radius: 3px; }

/* 消息 */
.info_cons{ margin-top:9px; border-top:1px solid #E4E4E4; }
.info_cons>ul>li{ background:#fff; border-bottom:1px solid #E4E4E4; padding:13px 13px 12px 14px; }
.info_cons>ul>li>img{ width:16%; float:left; }
.info_cons>ul>li .info_center{ width:63%; float:left; margin-left:16px; }
.info_cons>ul>li .info_center>span{ display: block; font-size:15px; color:#3a3a3a; line-height:16px; font-weight: bold; margin-top:8px; }
.info_cons>ul>li .info_center>p{ font-size:12px; color:#8f8f8f; line-height:13px; margin-top:8px; overflow: hidden; text-overflow:ellipsis; white-space: nowrap; }
.info_cons>ul>li .info_right{ float:right; }
.info_cons>ul>li .info_right>span{ display:block; font-size:12px; line-height:16px; color:#FF4B1F; text-align: right; margin-top:8px; }
.info_cons>ul>li .info_right>i{ display:block; font-size:10px; line-height:13px; color:#8f8f8f; text-align: right; margin-top:8px; }

/*系统通知*/
.info_system_cons{ padding:0 2.5%; }
.info_system_cons>ul>li{ padding:14px 0 5px; }
.info_system_cons>ul>li .info_time{ font-size:12px; color:#8F8F8F; line-height:12px; text-align:center; font-family: Arial; }
.info_system_cons>ul>li .system_main{ padding:17px 18px 22px; background: #fff; border-radius: 5px; margin-top:9px; }
.info_system_cons>ul>li .system_main .system_main_img{ width:100%; position: relative; }
.info_system_cons>ul>li .system_main .system_main_img>p{ width:100%; height:37px; background:rgba(28,28,28,0.5); position: absolute; bottom:0; left:0; font-size:15px; line-height:37px; color:#fff; text-align: right; font-weight: bold; z-index: 9; }
.info_system_cons>ul>li .system_main .info_system_text{ font-size:15px; color:#3A3A3A; line-height: 18px; margin-top:10px; }

/*收款通知*/
.info_money_cons{ padding:0 2.5%; }
.info_money_cons>ul>li{ padding:14px 0 7px; }
.info_money_cons>ul>li .info_time{ font-size:12px; color:#8F8F8F; line-height:12px; text-align:center; font-family: Arial; }
.info_money_cons>ul>li .money_main{ padding:16px 18px; background: #fff; border-radius: 5px; margin-top:9px; font-size:15px; line-height:22px; color:#3a3a3a; }
.info_money_cons>ul>li .money_main>span{ color:#B4951A; font-family: Arial; }
.info_money_cons>ul>li .money_main>a{ color:#076C45; font-weight: bold; text-decoration: underline; }

/*选择投资项目*/
.investment_cons{ padding-top:9px; }
.investment_cons .investment_type{ padding:14px 12px 17px; background:#fff; margin-bottom:10px; }
.investment_cons .investment_type>h3{ font-size:20px; line-height:22px; color:#3A3A3A; font-weight: bold; margin-left:7px; }
.investment_cons .investment_type .investment_img{ width:82%; margin:16px auto 0; position: relative; }
.investment_cons .investment_type .investment_img .swiper-pagination>.swiper-pagination-current{ font-size: 18px; color:#3A3A3A; }
.investment_cons .investment_type .investment_info{ margin-top:8px; padding:0 8.5%; }
.investment_cons .investment_type .investment_info>p{ font-size:12px; color:#3a3a3a; line-height:25px; font-weight: bold; float:left; }
.investment_cons .investment_type .investment_info>p>i{ font-size: 24px; color:#C3A015; font-family: Arial; display: inline-block; }
.investment_cons .investment_type .investment_info>span{ font-size:12px; color:#076C45; line-height:13px; float:left; margin-top:12px; margin-left:9px; }
.investment_cons .investment_type .investment_info>button{ width:70px; height:25px; float:right; border:1px solid #076C45; border-radius: 5px; font-size:15px; color:#076C45; outline: none; background:transparent; }

/*确认订单*/
.order_form_cons{ padding-top:9px; }
.order_form_cons .order_form_main{ padding:18px 17px; background:#fff; }
.order_form_cons .order_form_main .order_form_img{ width:45%; height:112px; float:left; }
.order_form_cons .order_form_main .order_form_info{ height:112px; float:left; margin-left:16px; position: relative; }
.order_form_cons .order_form_main .order_form_info>h5{ font-size:15px; line-height:16px; color:#3a3a3a; font-weight: bold; margin-top:6px; }
.order_form_cons .order_form_main .order_form_info>p{ font-size:12px; line-height:13px; color:#C3A015; margin-top:5px; }
.order_form_cons .order_form_main .order_form_info>span{ font-size:18px; line-height:20px; color:#C3A015; font-weight: bold; font-family: Arial; position: absolute; bottom:12px; left:0; }
.order_form_cons .pay_number{ padding:0 15px 0 11px; background:#fff; margin-top:10px; }
.order_form_cons .pay_number>span{ float:left; font-size:15px; color:#3A3A3A; line-height:50px; font-weight: bold; }
.order_form_cons .pay_number>div{ float:right; }
.order_form_cons .pay_number>div p{ font-size:12px; color:#3A3A3A; line-height:20px; text-align: right; }
.order_form_cons .pay_number>div p:nth-child(1){ margin-top:5px; }
.order_form_cons .pay_number>div p:nth-child(2){ font-weight: bold; }
.order_form_cons .order_form_btn{ width:100%; height:49px; position: fixed; bottom:0; left:0; }
.order_form_cons .order_form_btn>button{ width:100%; height:100%; background:#076C45; font-size: 18px; color:#fff; font-weight: bold; outline: none; }
.pop_up{ width:100%; height:100%; background: rgba(0,0,0,0.5); position: fixed; top:0; left:0; z-index: 11; display:none; }
.pop_up .ask_box{ width:76%; height:140px; background:#fff; border-radius: 5px; position: absolute; top:50%; left:12%; margin-top:-70px; }
.pop_up .ask_box>p{ font-size:18px; color:#3A3A3A; font-weight: bold; line-height: 20px; margin-top:35px; text-align: center; }
.pop_up .ask_box .ask_btn{ margin-top:45px; }
.pop_up .ask_box .ask_btn>button{ width:50%; height:20px; float:left; outline: none; font-size:18px; font-weight: bold; background:transparent; }
.pop_up .ask_box .ask_btn>button.confirm_btn{ color:#076C45; border-right:1px solid #E4E4E4; }
.pop_up .ask_box .ask_btn>button.cancel_btn{ color:#3A3A3A; }

/* 上传付款凭证 */
.upload_cons{ padding:53px 13% 0; }
.upload_cons>.layui-upload button.upload_file{ width:120px; height:120px; display:block; margin:0 auto; background: url(../images/upload.png) no-repeat; background-size: cover; }
.upload_cons>.layui-upload button.upload_btn{ width:100%; height:45px; margin-top:45px; background:#076C45; border-radius: 5px; font-size:18px; color:#fff; font-weight: bold; }
.upload_cons>.layui-upload span{ display: block; text-align:center; }

/* 提交成功 */
.succeed_cons .close_btn{ width:20px; height:20px; position: absolute; top:15px; right:19px; }
.succeed_cons .succeed_main{ margin-top:25%; }
.succeed_cons .succeed_main .succeed_img{ width:101px; height:101px; margin:0 auto; }
.succeed_cons .succeed_main>span{ display: block; font-size: 24px; line-height:26px; color:#076C45; font-weight: bold; text-align: center; margin-top:20px; }
.succeed_cons .succeed_main>p{ font-size: 18px; line-height:20px; color:#3A3A3A; text-align: center; margin-top:20px; }
.succeed_cons .succeed_main>button{ width:73%; height:45px; background:#076C45; border-radius: 5px; display: block; margin:40px auto 0; outline: none; font-size:18px; color:#fff; font-weight: bold; }

/* 我的汽车 */
.mycar_cons{ padding-bottom:58px; }
.mycar_cons .map{ width:100%; }
.mycar_cons .driver_info{ padding:10px 16px 18px; background:#fbfbfb; }
.mycar_cons .driver_info .info_left{ float:left; }
.mycar_cons .driver_info .info_left>img{ width:35px; height:35px; }
.mycar_cons .driver_info>p{ font-size:12px; line-height:13px; color:#3A3A3A; margin-top:8px; }
.mycar_cons .driver_info>p>i{ font-size:10px; color:#C7AC3F; display: inline-block; margin-left:7px; }
.mycar_cons .driver_info .info_right{ float:right; font-size: 12px; color:#3A3A3A; line-height:16px; background-image: url(../images/icon_address.png); background-repeat: no-repeat; background-size: 15px 15px; background-position: right center; padding-right:22px; margin-top:8px; }

/* 个人中心 */
.personal_cons{ padding-bottom:58px; }
.personal_cons .personal_info{ padding:16px 0 19px; }
.personal_cons .personal_info .swiper-slide{ width:73% !important; border-radius: 2px; }
.personal_cons .personal_info .swiper-slide-active{ margin-top:9px; }
.personal_cons .personal_box{ width:100%; height:100%; border-radius: 5px; overflow: hidden; position: relative; }
.personal_cons .personal_box>h4{ font-size:24px; line-height:26px; font-weight: bold; color:#fff; text-align: center; margin-top:12%; }
.personal_cons .personal_box>span{ font-size:36px; line-height:38px; color:#fff; text-align: center; margin-top:18%; display: block; font-family: Arial; }
.personal_cons .personal_box>div.button{ width:100%; height:24%; position: absolute; bottom:0; left:0; }
.personal_cons .personal_box>div.button>button{ width:50%; height:36%; float:left; font-size:18px; color:#fff; background:transparent; margin-top:7%; outline: none; }
.personal_cons .personal_box>div.return_account_btn>button:nth-child(1){ border-right:1px solid #3B976C; }
.personal_cons .personal_box>div.income_account_btn>button:nth-child(1){ border-right:1px solid #A6975C; }
.personal_cons .personal_box>div.commended_btn>button:nth-child(1){ border-right:1px solid #F6B396; }
.personal_cons .personal_box.return_account{ background:#11AB63; box-shadow: 0 3px 6px 0 rgba(16, 125, 74, 0.31); }
.personal_cons .personal_box.income_account{ background:#9E905C; box-shadow: 0 3px 6px 0 rgba(96, 84, 36, 0.31); }
.personal_cons .personal_box.commended{ background:#DD7C51; box-shadow: 0 3px 6px 0 rgba(147, 63, 26, 0.31); }
.personal_cons .personal_box.usa{ background:#404040; box-shadow: 0 3px 6px 0 rgba(41, 41, 41, 0.31); }
.personal_cons .personal_box.hongkong{ background:#ACA9A6; box-shadow: 0 3px 6px 0 rgba(178, 178, 178, 0.31); }
.personal_cons .personal_box.mainland{ background:#385572; box-shadow: 0 3px 6px 0 rgba(35, 60, 85, 0.31); }
.personal_cons .personal_box .shares{ width:48%; height:132px; border-radius: 50%; margin:15% auto 0; font-size:18px; color:#fff; text-align: center; }
.personal_cons .personal_box .shares>i{ font-size: 36px; }
.personal_cons .personal_box.usa .shares{ background:#787878; }
.personal_cons .personal_box.hongkong .shares{ background:#D5D5D5; }
.personal_cons .personal_box.mainland .shares{ background:#576F87; }
.personal_cons .personal_box>div.button.return_account_btn{ background:#197B55; }
.personal_cons .personal_box>div.button.income_account_btn{ background:#887A44; }
.personal_cons .personal_box>div.button.commended_btn{ background:#D3602E; }
.personal_cons .personal_data .swiper-slide{ background:#fff; }
.personal_cons .personal_data .swiper-slide>ul>li{ height:49px; border-bottom:1px solid #E4E4E4; padding:0 15px 0 20px; }
.personal_cons .personal_data .swiper-slide>ul>li>p{ float:left; font-size:15px; color:#3A3A3A; line-height:49px; }
.personal_cons .personal_data .swiper-slide>ul>li>span{ float:right; font-size:18px; line-height:49px; color:#076C45; font-weight: bold; font-family: Arial; }
.personal_cons .personal_data .swiper-slide>ul.return_account_data>li>span{ color:#076C45; }
.personal_cons .personal_data .swiper-slide>ul.income_account_data>li>span{ color:#887A44; }
.personal_cons .personal_data .swiper-slide>ul.commended_data>li>span{ color:#D3602E; }
.personal_cons .personal_data .swiper-slide>ul.usa_data>li>span{ color:#404040; }
.personal_cons .personal_data .swiper-slide>ul.hongkong_data>li>span{ color:#ACA9A6; }
.personal_cons .personal_data .swiper-slide>ul.mainland_data>li>span{ color:#385572; }

/* 推荐人 */
.reference_cons>ul{ width:100%; height:45px; background:#fff; }
.reference_cons>ul>li{ float:left; width:50%; height:100%; font-size:15px; line-height:42px; color:#3A3A3A; text-align: center; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
.reference_cons>ul>li.reference_current{ border-bottom:3px solid #076C45; }
.reference_cons>ul>li:nth-child(1){ position: relative; }
.reference_cons>ul>li:nth-child(1)>i{ width:1px; height:20px; background:#E4E4E4; position: absolute; right:0; top:11px; }
.reference_cons>ol{ margin-top:10px; background:#fff; }
/* 我的推荐人 */
.reference_cons>ol>li .reference_info{ height:49px; padding:0 15px 0 18px; border-bottom:1px solid #E4E4E4; }
.reference_cons>ol>li .reference_info p{ float:left; font-size:18px; color:#3A3A3A; line-height:49px; }
.reference_cons>ol>li .reference_info span{ float:right; font-size:18px; color:#3A3A3A; line-height:49px; font-family: Arial; }
/* 我推荐的人 */
.reference_cons>ol>li .table>table{ width:100%; text-align:center; }
.reference_cons>ol>li .table>table th{ height:39px; font-size:15px; color:#8F8F8F; font-weight: normal; }
.reference_cons>ol>li .table>table th:nth-child(1){ width:20%; }
.reference_cons>ol>li .table>table th:nth-child(2){ width:50%; }
.reference_cons>ol>li .table>table th:nth-child(3){ width:30%; }
.reference_cons>ol>li .table>table td{ height:48px; border-top:1px solid #E4E4E4; font-size: 15px; color:#3A3A3A; font-family: Arial; }

/* 汽车信息 */
.no_border{ border:none !important; }
.car_info_cons .car_num{ height:48px; font-size: 15px; line-height: 48px; color:#3A3A3A; padding-left:18px; }
.car_info_cons>ul>a>li{ height:80px; background:#fff; border-top:1px solid #E4E4E4; padding:0 15px 0 18px; }
.car_info_cons>ul>a>li .car_type>span{ float:left; font-size: 18px; color:#3A3A3A; line-height:20px; margin-top:15px; }
.car_info_cons>ul>a>li .car_type>i{ float:right; font-size: 18px; color:#3A3A3A; line-height:20px; margin-top:15px; font-family: Arial; }
.car_info_cons>ul>a>li>p{ font-size:12px; color:#3A3A3A; line-height:16px; margin-top:15px; background-image: url(../images/icon_address.png); background-repeat: no-repeat; background-size: 15px 15px; background-position: left center; padding-left:25px; }

/* 返还明细、收入明细 、奖励明细*/
.total{ height:45px; padding:0 13px; }
.total>p{ float:left; font-size:12px; line-height:45px; color:#8F8F8F; }
.total>p>span{ color:#076C45; font-family: Arial; }
.total .date{ float:right; background-image: url(../images/icon_date.png); background-repeat: no-repeat; background-size: 15px 15px; background-position: right center; padding-right:22px; }
.total .date>input{ width:auto; height:45px; background:transparent; text-align: right; border: none; font-size:12px; line-height:45px; color: transparent; text-shadow: 0 0 0 #076C45;padding-left:0; }
.total .date>input:-ms-input-placeholder{ color:#076C45; }
.total .date>input::-webkit-input-placeholder{ color:#076C45; }
.detail_data>ul>li{ width:100%; height:57px; padding:0 18px 0 17%; background:#fff; border-top:1px solid #E4E4E4; background-image: url(../images/icon_tou.png); background-repeat: no-repeat; background-size: 35px 35px; background-position: left 14px center; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
.detail_data>ul>li .data_time{ float:left; }
.detail_data>ul>li .data_time>i{ display: block; font-size:15px; line-height:16px; margin-top:13px; color:#3A3A3A; }
.detail_data>ul>li .data_time>p{ font-size: 10px; color:#8F8F8F; line-height:12px; margin-top:4px; }
.detail_data>ul>li>span{ float:right; font-size: 15px; line-height:57px; color:#C3A015; font-family: Arial; font-weight: bold; }
.income_detail_cons .detail_data>ul>li{ background-image: url(../images/icon_zu.png); }
.reward_detail_cons .detail_data>ul>li{ background-image: url(../images/icon_jiang.png); }

/* 现金提现 */
.cash_cons{ padding:14px 4% 0; }
.cash_cons .cash_form{ width:100%; background:#fff; border-radius: 5px; padding:10px 13px 8px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; }
.cash_cons .cash_form .add_bank>p{ float:left; margin-left:5px; font-size: 15px; line-height:42px; color:#3A3A3A; font-weight: bold; }
.cash_cons .cash_form .add_bank>span{ float:right; width:auto; height:42px; background-image: url(../images/add_btn.png); background-repeat: no-repeat; background-size: 18px 18px; background-position: right 9px center; padding-right:27px; }
.cash_cons .cash_form .cash_num{ font-size:15px; color:#3A3A3A; line-height:16px; margin-top:25px; margin-left:5px; }
.cash_cons .cash_form .cash_num_input{ width:100%; height:50px; border-bottom:1px solid #E4E4E4; margin-top:10px; }
.cash_cons .cash_form .cash_num_input>span{ float:left; margin-left:9px; font-size: 24px; color:#3A3A3A; font-weight: bold; line-height:26px; margin-top:22px; }
.cash_cons .cash_form .cash_num_input>input{ float:left; margin-left:15px; width:80%; height:26px; font-size: 20px; color:#3A3A3A; font-weight: bold; margin-top:22px; font-family: Arial; outline: none; }
.cash_cons .cash_form .point_text>p{ float:left; font-size:12px; line-height:30px; color:#8F8F8F; }
.cash_cons .cash_form .point_text>span{ float:right; font-size:12px; line-height:30px; color:#076C45; }
.cash_cons .cash_form>button{ width:86%; height:45px; background:#076C45; border-radius: 5px; display: block; margin:12px auto 0; font-size: 18px; color:#fff; font-weight: bold; outline: none; }

/* 添加银行卡 */
.add_bank_cons{ padding:14px 4% 0; }
.add_bank_cons .add_bank_form{ width:100%; background:#fff; border-radius: 5px; }
.add_bank_cons .add_bank_form>ul>li{ width:100%; height:50px; border-top:1px solid #E4E4E4; padding:0 17px; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; position: relative; }
.add_bank_cons .add_bank_form>ul>li>span{width:30%; float:left; font-size: 15px; color:#3A3A3A; line-height:50px; }
.add_bank_cons .add_bank_form>ul>li>input{width:70%; float:right; font-size: 15px; color:#3A3A3A; line-height:48px; text-align: left; outline: none; }
.add_bank_cons .add_bank_form>ul>li>i{ width:18px; height:16px; background:url(../images/icon_camera.png) no-repeat; background-size: cover; position: absolute; top:17px; right:16px; }
.add_bank_cons>button{ width:80%; height:45px; background:#076C45; border-radius: 5px; display: block; margin:20px auto 0; font-size: 18px; color:#fff; font-weight: bold; outline: none; }
.add_bank_cons .add_bank_form .cash_num{ font-size:15px; color:#3A3A3A; line-height:16px; margin-top:25px; margin-left:18px; }
.add_bank_cons .add_bank_form .cash_num_input{ width:100%; height:50px; border-bottom:1px solid #E4E4E4; margin-top:10px; }
.add_bank_cons .add_bank_form .cash_num_input>span{ float:left; margin-left:18px; font-size: 24px; color:#3A3A3A; font-weight: bold; line-height:26px; margin-top:22px; }
.add_bank_cons .add_bank_form .cash_num_input>input{ float:left; margin-left:15px; width:80%; height:26px; font-size: 20px; color:#3A3A3A; font-weight: bold; margin-top:22px; font-family: Arial; outline: none; }
.add_bank_cons .add_bank_form .point_text{padding:0 13px;}
.add_bank_cons .add_bank_form .point_text>p{ float:left; font-size:12px; line-height:30px; color:#8F8F8F; }
.add_bank_cons .add_bank_form .point_text>span{ float:right; font-size:12px; line-height:30px; color:#076C45; }