<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>消息</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
    	<meta name="apple-mobile-web-app-capable" content="yes">
    	<script type="text/javascript" src="js/jquery-2.1.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="css/carRental.css">
    </head>
    <body>
    	<div class="container">
            <header>
                <a class="return_arr" href="index.html"></a>
                <span>消息</span>
            </header>
            <div class="info_cons">
                <ul>
                    <li class="outer" onclick="javascript:window.location.href='infoSystem.html'">
                        <img src="images/info_system.png" alt="">
                        <div class="info_center">
                            <span>系统通知</span>
                            <p>平台从2018年5月开始将推出更高端的投平台从2018年5月开始将推出更高端的投</p>
                        </div>
                        <div class="info_right">
                            <span>2条</span>
                            <i>1分钟前</i>
                        </div>
                    </li>
                    <li class="outer" onclick="javascript:window.location.href='infoMoney.html'">
                        <img src="images/info_money.png" alt="">
                        <div class="info_center">
                            <span>收款通知</span>
                            <p>您的收入账户进账128元，已存入账户余额！</p>
                        </div>
                        <div class="info_right">
                            <span>2条</span>
                            <i>1分钟前</i>
                        </div>
                    </li>
                    <li class="outer">
                        <img src="images/info_service.png" alt="">
                        <div class="info_center">
                            <span>客服中心</span>
                            <p>暂无聊天信息</p>
                        </div>
                        <div class="info_right">
                            <span></span>
                            <i></i>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html>